#!/bin/sh
#creating a swap partition on the ephermal storage

STORAGE="{{ swap_device }}"

#unmounting it because it's mounted by default
umount $STORAGE
#creating the partition
(echo o; echo n; echo p; echo 1; echo ; echo ; echo t; echo 82; echo w) | sudo fdisk $STORAGE
partprobe
#creating swap
mkswap ${STORAGE}1
swapon ${STORAGE}1
